= form_for [current_account, @menu_option] do |f| 
  %small= f.error_messages
  %small 
    = f.label :name
    = f.select :name, @available_objects
  %br
  %small
    = f.label :format
    = f.text_field :format
  = f.submit