= simple_form_for [current_account, menu_option] do |f|
  = f.error_messages
  = f.label :name
  %br
  = f.select :name, @available_objects
  %br
  %br
  %br
  %br
  = f.label :format
  %br
  = f.text_field :format
  %br
  = f.button :submit, "Submit!"