= simple_form_for [current_account, menu_option] do |f|
  = f.error_messages
  = f.label :name
  %br
  = f.select :name, @available_objects
  %br
  - if menu_option.kind_of? OutgoingTextOption
    = f.label :phone_number_field
    = f.text_field :phone_number_field
  - if menu_option.instance_of? MenuOption
    = f.label :display_name
    = f.text_field :display_name
  %br
  = f.label :format
  %br
  = f.text_field :format
  %br
  = f.button :submit, "Submit!"