= link_to "Go back to settings", settings_path
%br
- if params[:type] == "MenuOption"
  %i Current text menu options:
  %br
  - current_account.text_message_options.each do |k,v|
    %i
      = k
      \- #{v[0]}
      %br
%br
%br
- @menu_options.each do |option|
  = link_to "#{option.name} - #{option.format}", [current_account, option]
  %br
%br
= link_to "Add new menu option", :action => "new", :controller => "menu_options", :type => params[:type]