%ul.breadcrumb
  %li
    = link_to 'Home', main_app.admin_root_path
    
  %li
    = link_to 'Extensions', main_app.admin_extensions_path
    
  %li.active SMS

.page-header
  %h1 SMS Messages
  %p Manage SMS messages.

%hr

= link_to sms_path, class: 'btn btn-lg btn-primary' do
  Send SMS
  %i.fa.fa-arrow-circle-o-right

%hr

= paginate @messages
- if @messages.size == 0
  .alert No SMS messages yet.
- else
  %table.table.table-striped
    %thead
      %tr
        %th From
        %th To
        %th Message
        %th Time
    %tbody
      - @messages.each do |message|
        %tr
          %td= message.from
          %td= message.to
          %td= message.body
          %td= message.updated_at
