= stylesheet_link_tag 'admin'
= javascript_include_tag 'admin'
= csrf_meta_tags

%h1 Sms Extension Settings
%h1 Messages
.container
  %br
  = link_to "Send SMS", sms_path
  = paginate @messages
  %table
    %tbody
      %tr 
        %th time
        %th from
        %th to
        %th message
        - @messages.each do |message|
          %tr
            %td= message.updated_at
            %td= message.from
            %td= message.to
            %td= message.body



