%h4
  = flash[:notice]
  = flash[:alert]
#consume_phone_number_region
  = simple_form_for(current_account, :url => settings_path) do |f|
    - if current_account.api_version.nil?
      Please publish the application for more configuration options.
    %p
      API version: #{current_account.api_version}
    %div.yui3-g
      %div.yui3-u-1-4
        = f.label :phone_number, "Default phone number to text:"
        %br
        = f.text_field :phone_number
        %br 
        - if !current_account.api_version.nil?
          %br
          #display_bulk_text
          %h4
            = link_to "Setup phone number to text to from an object attribute", text_phone_number_path(current_account)
          %br
          %h4
            = link_to "Build outgoing text option for various object definitions", [current_account, :outgoing_text_options]
          %br
      %div.yui3-u-1-4
        = f.label :consume_phone_number, "Phone number to consume text:"
        %br
        - if !current_account.consume_phone_number.nil?
          = f.text_field :consume_phone_number, :readonly => true
          %br
          %br
          %h4
            = link_to "Build text consumption menu options for various objects", account_menu_options_path(current_account)
          %br
        - else
          = f.text_field :consume_phone_number, :readonly => true, :value => "N/A"
          #generate_consume_phone_number_region
            %p Enter area code to generate phone number for consuming SMS:
            = text_field_tag :area_code, params[:area_code], :size => 3
            = link_to "Generate", generate_consume_phone_number_path, :remote => true
      %div.yui3-u-1-4
        = f.label :api_host, "AnyPresence host:"
        %br
        = f.text_field :api_host
        %br
        = f.button :submit, "Update Account"