<h4>
<%= flash[:notice] %>
<%= flash[:alert] %>
</h4>
<div id="consume_phone_number_region">
<%= form_for(current_account, :url => settings_path) do |f| %>
  <%= f.label :phone_number, "Phone number to text:" %>
  <br/>
  <%= f.text_field :phone_number %>
  <br/>
  <%= f.label :field_name, "Name of field to include in text:" %>
  <br/>
  <%= f.text_field :field_name %>
  <br/>
  <%= f.label :permitted_phone_numbers, "Phone numbers for incoming text:"%>
  <br/>
  <%= f.text_area :permitted_phone_numbers, :rows => 5, :cols => 20 %>
  <br/>
  <%= f.label :consume_phone_number, "Phone number to consume text:" %>
  <br/>
  <% if !current_account.consume_phone_number.nil? %>
    <%= f.text_field :consume_phone_number, :readonly => true %>
    <br/>
    <%= link_to "View menu options", account_menu_options_path(current_account) %>
  <% else %>
    <%= f.text_field :consume_phone_number, :readonly => true, :value => "N/A"%>
    <div id="generate_consume_phone_number_region">
    <p>Enter area code to generate phone number to consume text</p>
      <%= text_field_tag :area_code, params[:area_code], :size => 3 %>
      <%= link_to "Generate", generate_consume_phone_number_path, :remote => true %>
    </div>
  <% end %>
  <br/>
  <%= f.submit %>
<% end %>
</div>
<br/>

