%h4
  = flash[:notice]
  = flash[:alert]
#consume_phone_number_region
  = form_for(current_account, :url => settings_path) do |f|
    - if current_account.api_version.nil?
      %small
        Please publish the application for more configuration options.
    %p
      API version: #{current_account.api_version}
    = f.label :phone_number, "Phone number to text:"
    %br
    = f.text_field :phone_number
    %br

    - if !current_account.api_version.nil?
      %br
      %small= link_to "Build outgoing text options", account_outgoing_text_options_path(current_account)
      %br
    %br
    = f.label :consume_phone_number, "Phone number to consume text:"
    %br
    - if !current_account.consume_phone_number.nil?
      = f.text_field :consume_phone_number, :readonly => true
      %br
      %br
      %small= link_to "View/Update menu options", account_menu_options_path(current_account)
      %br
    - else
      = f.text_field :consume_phone_number, :readonly => true, :value => "N/A"
      #generate_consume_phone_number_region
        %p Enter area code to generate phone number to consume text:
        = text_field_tag :area_code, params[:area_code], :size => 3
        %small= link_to "Generate", generate_consume_phone_number_path, :remote => true
    %br
    = f.label :api_host, "AnyPresence host:"
    %br
    = f.text_field :api_host
    %br
    = f.submit
%br