= link_to "Go back to settings", settings_path
%br
%br
= simple_form_for([current_account, @bulk_text_phone_number], :url => text_phone_number_path) do |f|
  = f.error_messages
  %div.yui3-g
    %div.yui3-u-1-4
      = f.label :name
      %br
      = f.select :name, @available_objects
      %br
      %br
      %br
      = f.label "Field with phone number"
      %br
      = f.text_field :format
  %div.yui3-g
    %div.yui3-u-1-4
      = f.button :submit, "Submit!"
      
  %div.yui3-g
    %div.yui3-u-1-4
      - if @bulk_text_phone_number.persisted?
        = link_to "or Delete!", [current_account, @bulk_text_phone_number], :method => :delete, :confirm => "Are you sure you want to delete this?"