= link_to "Go back to settings", settings_path
%br
%br
= simple_form_for([current_account, @bulk_text_phone_number],:url => text_phone_number_path) do |f|
  = f.error_messages

  = f.label :name
  %br
  = f.select :name, @available_objects
  %br
  %br
  %br
  %br
  = f.label "Field with phone number"
  %br
  = f.text_field :format
  %br
  = f.button :submit, "Submit!"