!!!
%html
  %head
    %title SmsExtension
    = stylesheet_link_tag    "sms_extension/application", :media => "all"
    = javascript_include_tag "sms_extension/application"
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'admin'
    = csrf_meta_tags
  %body
    = yield